<div class="background-new-notice big ">
  <div class="bg-gradient-new-notice big">
    <div class="form-group margin-top">
      <div class="container-lg margin-top">
        <div class="row margin-big-form">
          <div class="col-sm-6 col-sm-offset-3">
            <div class="background-white-new-notice  ">
      <br/>


<p><b>I18n.locale:</b>
<%= I18n.locale %>
</p>
      <%= simple_form_for @lawyer do |f| %>
      <%= f.input :first_name, label: "prénom") %>
      <%= f.input :last_name, label: "Nom"%>
       <%= f.input :status, label: "Statut"%>
       <%= f.input :bar, label: "Quel barreau?" %>
       <%= f.input :presentation, label: "Présentation"%>
      <%= f.input :competences, collection: [ :labour, :corporate, :commercial, :real_estate, :taxes, :compliance, :litigation ], label: "Domaines de compétence", :include_blank => '' %>
      <%= f.input :competences_2, collection: [ :labour, :corporate, :commercial, :real_estate, :taxes, :compliance, :litigation ], label: "Domaines de compétence 2", :include_blank => '' %>
      <%= f.input :competences_3, collection: [ :labour, :corporate, :commercial, :real_estate, :taxes, :compliance, :litigation ], label: "Domaines de compétence 3", :include_blank => '' %>
      <%= f.input :competences_details, label: "Détail des compétence", prompt: "Détaillez les compétences" %>
      <%= f.input :languages, label: "Langues parlées"%>
      <%= f.input :course, as: :text, label: "Quel est son parcours?" %>
      <%= f.input :picture, label: "Voulez-vous ajouter une photo?" %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.input :address, label: "adresse" %>
      <%= f.input :phone, label: "Numéro de téléphone" %>
      <%= f.input :mail, label: "mail" %>
      <%= f.input :vCard, label: "vCard" %>
      <%= f.input :pdf, label: "PDF" %>


      <%= f.button :submit, class: "btn btn-success" %>
      <% if @lawyer.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @lawyer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
