  <body style= "background-color: white">
    <% content_for(:title) do %>
    <%= "#{@lawyer.first_name}"+ " "+ "#{@lawyer.last_name}" %>
    <% end %>
  <% content_for :nav, render('shared/navbar_pages') %>


  <div class="container lawyer-show">

    <div class="row">

      <div class="col-xs-12 col-md-6">
      <% if @lawyer.picture.present? %>
         <%= cl_image_tag @lawyer.picture, width: 400%>
      <% end %>

      </div>

      <div class="col-xs-12 col-md-6 lawyer-name">
         <h1 ><%= "#{@lawyer.first_name}"+ " "+ "#{@lawyer.last_name}" %></h1>
           <p><%= @lawyer.status %></p>
           <p><%= @lawyer.bar %> </p>
           <p> <%= @lawyer.presentation %></p>
           <p><strong><%= t(:"domaines") %> </strong> :
             <% if @lawyer.competences.present? %>
            <%= t(@lawyer.competences) %>
            <% end %>
            <%if @lawyer.competences_2.present? %>
            / <%= t(@lawyer.competences_2) %>
            <%end%>
            <%if @lawyer.competences_3.present? %>
            / <%= t(@lawyer.competences_3) %>
            <%end%>
          </p>
          <p><%= @lawyer.competences_details %></p>
          <p><strong><%= t(:"spoken") %></strong>: <%=@lawyer.languages %></p>
          <p><strong><%= t(:"course") %> </strong>: </p>
          <% if @lawyer.course.present? %>
          <p> <%= @lawyer.course.html_safe %> </p>
          <% end %>
          <p> <strong><%= t(:"desk") %> <%= @lawyer.address%></strong></p>
          <p><strong><%= t(:"phone")%><%= @lawyer.phone%></p>
          <p><strong>Email:</strong> <%= @lawyer.mail%></p>

      </div>
    </div>

  </div>

    <% if current_user && current_user.admin %>

    <div style= "margin-bottom: 100px; text-align: center;">
    <%= link_to "Modifier", edit_lawyer_path(@lawyer), class: "btn btn-success"%>

    <%= link_to "Supprimer", lawyer_path(@lawyer), method: :delete, data: { confirm: "You sure?" },class: "btn btn-success"  %>
    </div>

    <% end %>








