<body style= "background-color: white">
  <% content_for :nav, render('shared/navbar_home') %>


  <div class="container lawyer-show">
    <div class="row">

      <div class="col-xs-12 col-md-6">
         <%= cl_image_tag @lawyer.picture, width: 400%>

      </div>

      <div class="col-xs-12 col-md-6 lawyer-name">
         <h1 ><%= "#{@lawyer.first_name}"+ " "+ "#{@lawyer.last_name}" %></h1>
           <p><%= @lawyer.status %></p>
           <p><%= @lawyer.bar %> </p>
           <p> <%= @lawyer.presentation %></p>
           <p><strong>Ses domaines de compétence sont </strong> :

            <%= @lawyer.competences %>
            <%if @lawyer.competences_2.present? %>
            / <%= @lawyer.competences_2 %>
            <%end%>
            <%if @lawyer.competences_3.present? %>
            / <%= @lawyer.competences_3 %>
            <%end%>
          </p>
          <p><%= @lawyer.competences_details %></p>
          <p><strong>Langues parlées</strong>: <%=@lawyer.languages %></p>
          <p><strong>Parcours </strong>: </p>
          <p> <%= @lawyer.course.html_safe %> </p>
          <p> <strong><%= @lawyer.address%> :</strong></p>
          <p><%= @lawyer.phone%></p>
          <p>Email: <%= @lawyer.mail%></p>

      </div>
    </div>




  </div>









<%= link_to "Modifier", edit_lawyer_path(@lawyer), class: "btn btn-success"%>

<%= link_to "Supprimer", lawyer_path(@lawyer), method: :delete, class: "btn btn-success"  %>
