
<% content_for :nav, render('shared/navbar_register') %>

<div class="background-edit ">
  <div class="bg-gradient-edit">
    <div class="form-group m">
      <div class="container ">
        <div class="row margin-top" style= "padding-top: 200px;">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="background-white">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in" %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

