<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <title>Ggv</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% if content_for? :nav %>
      <%= content_for :nav %>
    <% elsif content_for? :register %>
      <%= content_for :register%>
    <% else %>
      <%= render '/shared/navbar' %>
    <% end %>



    <%= yield %>

  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
</body>

  </body>
</html>
