<% content_for :nav, render('shared/navbar_register') %>



<div class="background-edit ">
  <div class="bg-gradient-edit">
    <div class="form-group">
      <div class="container">
        <div class="row margin-top" style= "padding-top: 200px;">
          <div class="col-sm-4 col-sm-offset-4">
            <div class="background-white">


            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up" %>
              </div>
            <% end %>

            <%= render "users/shared/links" %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

